* {
	padding: 0;
	margin: 0;
	transition: 0.6s ease-in;
}

body {
	min-height: 100vh;
}

/*======= Preloader =======*/
.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(45deg, #333333, #4c4a4a);
}

.preloader__title {
	position: relative;
	color: #212121;
	font-size: 9.375em;
	letter-spacing: 5px;
	text-transform: uppercase;
	border-bottom: 18px solid #212121;
}

.preloader__title:before {
	position: absolute;
	top: 0;
	left: 0;
	content: 'LOADING...';
	color: #00ffff;
	border-bottom: 18px solid #00ffff;
	overflow: hidden;
	animation: loading 4s infinite linear;
}

@keyframes loading {
	0% {
		width: 0;
	} 
	100% {
		width: 100%;
	}
}

/*============= 1 screen =============*/
