/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1800px) {
  .header__logo {
    padding-left: 0px;
  }

  .first__social {
    right: 0;
  }

  .preloader__title {
    font-size: 12.375em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
  .first__social {
    right: 8%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2250px) {
  .first__social {
    right: 12%;
  }

  .preloader__title {
    font-size: 15em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2500px) {
  .first__social {
    right: 16%;
  }

  .preloader__title {
    font-size: 20em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1300px) {
  .first__social {
    right: -15%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1200px) {
  .first__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .first__left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .first__main {
    margin-top: 0px;
    position: relative;
    bottom: 130px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1024px) {
  .header__logo {
    padding-left: 10.06588579795022%;
    padding-right: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 920px) {
  .second__item {
    margin-top: 40px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 910px) {
  .preloader__title {
    font-size: 5em;
    letter-spacing: 2px;
    border-bottom: 12px solid #212121;
  }

  .preloader__title:before {
    border-bottom: 12px solid #00ffff;
  }

  .header__nav {
    padding-right: 5%;
  }

  .fourth__slider {
    width: 96%;
  }

  .fourth__background {
    width: 98%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .first__main {
    bottom: 0;
  }

  .first__intro {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    left: 0;
  }

  .first__img {
    width: 100%;
    height: auto;
  }

  .first__left {
    width: 100%;
    max-width: 410px;
  }

  .first__social {
    right: -25%;
  }

  .header__mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
  }

  .header-mobile-menu-2 {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .header__nav {
    padding-right: 0;
    padding-bottom: 15px;
    width: 68%;
    position: absolute;
    z-index: 1;
    top: -1000px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-box-shadow: 0px 9px 20px 0px rgba(117, 48, 249, 1);
    box-shadow:         0px 9px 20px 0px rgba(117, 48, 249, 1);
  }

  .header__li {
    display: block;
    margin: 10px 0;
  }

  .header__logo {
    padding-left: 3%;
  }

  .third__item-8 {
    width: 90%;
    background: url('../img/third-8.png') no-repeat 100%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__portfolio,.footer__nav {
    margin-bottom: 40px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
  .header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(38%, #754EF9), color-stop(38%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 38%, #fff 38%);
    background-image: linear-gradient(to right, #754EF9 38%, #fff 38%);
  }

  .first {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(38%, #754EF9), color-stop(38%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 38%, #fff 38%);
    background-image: linear-gradient(to right, #754EF9 38%, #fff 38%);
  }

  .fourth__slider__text {
    width: 80%;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
  .first__left {
    width: 100%;
    max-width: 310px;
  }

  .first__social {
    right: -35%;
  }

  .first__main__title {
    width: 100%;
  }

  .fifth__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 563px) {
  .fifth__button {
    display: inline-block;
    margin-top: 40px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 540px) {
  .first__social {
    right: -44%;
  }

  .header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, #754EF9), color-stop(45%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 45%, #fff 45%);
    background-image: linear-gradient(to right, #754EF9 45%, #fff 45%);
  }

  .first {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(45%, #754EF9), color-stop(45%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 45%, #fff 45%);
    background-image: linear-gradient(to right, #754EF9 45%, #fff 45%);
  }

  .fourth__slider {
    height: 400px;
  }

  .fourth__background {
    height: 355px;
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 490px) {
  .preloader__title {
    font-size: 4em;
    letter-spacing: 2px;
    border-bottom: 8px solid #212121;
  }

  .preloader__title:before {
    border-bottom: 8px solid #00ffff;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 430px) {
  .first__social {
    right: -56%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .third__item {
    widtH: 90%;
  }

  .fourth__slider {
    height: 450px;
  }

  .fourth__background {
    height: 405px;
  }

  .footer__nav-li {
    display: block;
    text-align: center;
  }

  .fifth__input {
    width: 90%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 390px) {
  .first__social {
    right: -63%;
    width: 530px;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 370px) {
  .preloader__title {
    font-size: 5em;
    letter-spacing: 3px;
    border-bottom: 10px solid #212121;
    -webkit-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
            transform: rotate(70deg);
  }

  .preloader__title:before {
    border-bottom: 10px solid #00ffff;
  }

  .first__social {
    right: -70%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 340px) {
  .header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #754EF9), color-stop(48%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 48%, #fff 48%);
    background-image: linear-gradient(to right, #754EF9 48%, #fff 48%);
  }

  .first {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #754EF9), color-stop(48%, #fff));
    background-image: -o-linear-gradient(left, #754EF9 48%, #fff 48%);
    background-image: linear-gradient(to right, #754EF9 48%, #fff 48%);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 335px) {
  .section__title {
    line-height: 30px;
    text-align: center;
  }

  .fourth__background {
    height: 415px;
    top: 215px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {
  .first__social {
    right: -75%;
  }
}