/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 1260px) {
  
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 910px) {
  .preloader__title {
    font-size: 5em;
    letter-spacing: 2px;
    border-bottom: 12px solid #212121;
  }

  .preloader__title:before {
    border-bottom: 12px solid #00ffff;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 860px) {
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 780px) {

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px) {
  
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 490px) {
  .preloader__title {
    font-size: 4em;
    letter-spacing: 2px;
    border-bottom: 8px solid #212121;
  }

  .preloader__title:before {
    border-bottom: 8px solid #00ffff;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 370px) {
  .preloader__title {
    font-size: 5em;
    letter-spacing: 3px;
    border-bottom: 10px solid #212121;
    transform: rotate(70deg);
  }

  .preloader__title:before {
    border-bottom: 10px solid #00ffff;
  }
}